<div class="page_header">
  <h1>Brands</h1>
</div>

<div class="page_content">
  <% if @brands.any? %>
  <p>Click a brand to edit the brand or see which stores currenly carry the brand</p>
  <ul>
    <% @brands.each do |brand| %>
      <li><a href = "/brand/<%= brand.id %>"><%= brand.name %>...$<%= brand.cost %></a></li>
    <% end %>
  </ul>
  <%else %>
    <div class="alert alert-danger">
      <strong>Sorry!</strong> There aren't any brands in distribution right now.
    </div>
  <% end %>

  <h3>Add a new brand to distribution:</h3>
  <form action="/brands" method="post">
    <label for="name">Enter brand name here:</label>
    <input type="text" name="name">
    <label for="cost">Enter the cost:</label>
    <input type="number" name="cost">

    <button type="submit">Add Brand</button>
  </form>



</div>
<div class="page_nav">
  <a href="/brands">See brands</a>
  <a href="/stores">See Stores</a>
  <a href="/">Home</a>
</div>
