<div class="page_header">
  <h1>Uh oh, something went wrong!</h1>
  <p> check to make sure you've entered all the required fields</p>
</div>

<div class="page_content">
  <img src="../img/broken.jpg">
  <p>*** use your browser's back button to return to the last screen or click below to navigate somewhere else ***</p>
</div>

<div class="page_nav">
  <a href="/brands">See brands</a>
  <a href="/stores">See Stores</a>
  <a href="/">Home</a>
</div>
