<div class="index_header">
  <h1>Footwear Distribution Center</h1>
</div>

<div class="index_nav">
  <a class="link link--transform" href="/brands" data-letters="brands">brands</a>
  <a class="link link--transform" href="/stores" data-letters="stores">stores</a>
</div>
