<div class="page_header">
  <h1>TITLE</h1>
</div>

<div class="page_content">
</div>
<div class="page_nav">
  <a href="/brands">See brands</a>
  <a href="/stores">See Stores</a>
  <a href="/">Home</a>
</div>
