<div class="page_header">
  <h1>Stores</h1>
</div>

<div class="page_content">
  <% if @stores.any? %>

  <ul>
    <% @stores.each do |store| %>
      <li><a href = "/store/<%= store.id %>"><%= store.name %></a></li>
    <% end %>
  </ul>
  <p>Click a store to edit or see associated brands</p>
  <%else %>
    <div class="alert alert-danger">
      <strong>Sorry!</strong> There aren't any stores in the distribution network right now.
    </div>
  <% end %>

  <h3>Add a new store to distribution:</h3>
  <form action="/stores" method="post">
    <label for="name">Enter store name here:</label>
    <input type="text" name="name">

    <button type="submit">Add Store</button>
  </form>

</div>

<div class="page_nav">
  <a href="/brands">See brands</a>
  <a href="/stores">See Stores</a>
  <a href="/">Home</a>
</div>
