<div class="page_header">
  <h1>Store Management</h1>
</div>

<div class="page_content">
  <h2> Update Store </h2>
  <form action ="/store/<%= @store.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="name">Enter the new store name:</label>
    <input type="text" name="name">
    <button type ="submit">Change store name</button>
  </form>


  <form action="/store/<%= @store.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Remove Store</button>
  </form>
</div>

<div class="page_nav">
  <a href="/brands">See brands</a>
  <a href="/stores">See Stores</a>
  <a href="/">Home</a>
</div>
