<div class="page_header">
  <h1>Stores</h1>
</div>

<div class="page_content">
  <% if @stores.any? %>

  <h3>Your stores:</h3>

  <ul>
    <% @stores.each do |store| %>
      <li><a href = "/store/<%= store.id %>"><%= store.name %></a></li>
    <% end %>
  </ul>
  <h4>Click a store to edit or see associated brands</h4>
  <%else %>

  <p> You don't have any stores!! </p>
  <% end %>

  <form action="/stores" method="post">
    <label for="name">Enter store name here:</label>
    <input type="text" name="name">

    <button type="submit">Add Store</button>
  </form>

</div>

<div class="page_nav">
  <a href="/brands">See brands</a>
  <a href="/stores">See Stores</a>
  <a href="/">Home</a>
</div>
