.index_header {
  margin: auto;
  text-align: center;
}

.index_nav {
  margin: auto;
  text-align: center;
}

.page_header {
  margin: auto;
  text-align: center;
}

.page_nav {
  margin: auto;
  text-align: center;
}

.page_content {
  margin: auto;
  text-align: center;
}
